Table Here

<div class="container">
  <div class="col-md-12">

    <input type="text" placeholder="Search here..." class="form-control" [(ngModel)]="query">

    <div class="table-responsive games-table">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            Title
            <span class="pull-right" (click)="show('title')">
                <i class="material-icons">filter_list</i>
              </span>
            <div class="filter-box" *ngIf="showTitleFilter">
              <ul>
                <li *ngFor="let item of uniqueItems(gamesData, 'title')">
                  <input type="checkbox"> {{item}}
                </li>
              </ul>
            </div>
          </th>
          <th>Genre <span class="pull-right"><i class="material-icons">filter_list</i></span></th>
          <th>Score <span class="pull-right"><i class="material-icons">filter_list</i></span></th>
          <th>Platform <span class="pull-right"><i class="material-icons">filter_list</i></span></th>
          <th>Editor's Choice <span class="pull-right"><i class="material-icons">filter_list</i></span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of gamesData | tableFilter: query">
          <td>{{item.title}}</td>
          <td>{{item.genre}}</td>
          <td>{{item.score}}</td>
          <td>{{item.platform}}</td>
          <td>{{item.editors_choice}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
