Table Here

<div class="container">
  <div class="col-md-12">

    <div class="table-responsive games-table">

      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <!--<th style="position: relative">
            Title
            <span class="icon" (click)="show('title', $event)">
                <i class="material-icons">filter_list</i>
              </span>
            <div class="filter-box" clickOutside (clickOutside)="close($event)" *ngIf="showTitleFilter">
              <ul>
                <li>
                  <input type="checkbox" (click)="selectAllToFilter($event)"> Select All
                </li>
                <li *ngFor="let item of unique">
                  <input type="checkbox" (click)="addToFilter(item, $event)" [checked]="inFilterArray(item)"> {{item}}
                </li>
              </ul>
            </div>
          </th>
          <th>Genre <span class="pull-right"><i class="material-icons">filter_list</i></span></th>
          <th>Score <span class="pull-right"><i class="material-icons">filter_list</i></span></th>
          <th>Platform <span class="pull-right"><i class="material-icons">filter_list</i></span></th>
          <th>Editor's Choice <span class="pull-right"><i class="material-icons">filter_list</i></span></th>-->

          <th *ngFor="let item of cols" style="position: relative">
            {{item.header}}
            <!--<span class="icon" (click)="show(item.field, $event)">
                <i class="material-icons">filter_list</i>
              <div class="filter-box" clickOutside (clickOutside)="close($event)" style="visibility: hidden">
                <ul>
                  <li>
                    <input type="checkbox" (click)="selectAllToFilter($event, item.field)" [checked]="inSelectAll(item.field)"> Select All
                  </li>
                  <li *ngFor="let set of unique">
                    <input type="checkbox" (click)="addToFilter(set,item.field, $event)" [checked]="inFilterArray(set, item.field)"> {{set}}
                  </li>
                </ul>
              </div>
            </span>-->
            <app-filter-box [field]="item.field"></app-filter-box>

          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of dataService.filteredData">
          <td>{{item.amount}}</td>
          <td>{{item.balanceAfterTransaction}}</td>
          <td>{{item.description}}</td>
          <td>{{item.type}}</td>
          <td>{{item.firstLevelCategory}}</td>
          <td>{{item.secondLevelCategory}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
